/** 
  * @version: 3.2
  * To use this file, copy this code into you account (Settings > Advanced). The code will be slightly modified by BGA but will work.
  * To stop using it, select all the code in your settings, delete it and submit the form.
  * After submiting the form (to enable or remove this theme, you have to clear your browser cache. The quick way is to press Ctrl + F5 keys).
  *
  * Note that this v3 does not handle the website update anymore. This file only contains some specific improvments, especially for the Hanabi game.
  * Please consider using the BGA Chrome Extension for Chrome/Firefox instead (https://chrome.google.com/webstore/detail/bga-chrome-extension/kchnhmpeopknjdjejognciimepllkacb).
  *
  * You can eventually find the last old version here : https://framagit.org/games/hanabi/-/blob/4.1.2/bga_black_theme.css
  *
  * Note that enabling this theme in your settings:
  * - You might encounter some display bugs on mobile devices. (I have never tested it on a mobile phone.)
  * - The bug/suggestion section of BGA will no longer be accessible. You can see the list, but cannot read/write a request. This is a BGA protection to prevent people from reporting some bugs which are due to a custom theme.
  * - You can always remove the theme.
  */


:root {
  --scale: 0.9;
}

/* Wiki */
.wikicontent h3 {
	margin-top: 20px;
}

  
/* Pour Hanabi */
.bgagame-hanabi .clue_button.selected,
.bgagame-hanabi .notouch-device .clue_button:hover {
	transform: scale(1.1);
}


.playershand_stacked .bgagame-hanabi .playerhand.playerhand_5 {
	transform: scale(var(--scale)) rotate(-90deg) translateY(-20px);
}

.playershand_stacked .bgagame-hanabi .playerhand.playerhand_4,
.playershand_stacked .bgagame-hanabi .playerhand.playerhand_3 {
	transform: scale(var(--scale)) rotate(180deg) translateY(-20px);
}

.playershand_stacked .bgagame-hanabi .playerhand.playerhand_2 {
	transform: scale(var(--scale)) rotate(90deg) translateY(-20px);
}

.playershand_stacked .bgagame-hanabi .playerhand.playerhand_2,
.playershand_stacked .bgagame-hanabi .playerhand.playerhand_3,
.playershand_stacked .bgagame-hanabi .playerhand.playerhand_4,
.playershand_stacked .bgagame-hanabi .playerhand.playerhand_5 {
	transform: scale(var(--scale)) rotate(0deg) translateY(-20px);
}

#game_play_area,
.playershand_stacked .bgagame-hanabi .playerhand {
	transform: scale(var(--scale));
}
